// font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.font1 {
	font-family: 'Josefin Sans', sans-serif;
}

// end font

/** PHP DEBUGBAR EXCEPTION NAME BLOCKING EXCEPTION MESSAGE **/
div.phpdebugbar-widgets-exceptions li.phpdebugbar-widgets-list-item span.phpdebugbar-widgets-type {
	top: -7px !important;
}

header {
	padding-bottom: 5px;
}

header {
	position: fixed;
	z-index: 999999;
}

header,
.header .ttm-topbar-wrapper .ttm-topbar-content .top-contact,
.hero,
.hero .screen,
.site-main .aboutus-section .ttm_single_image-wrapper img,
.site-main .history-section .short-info,
.site-main .history-section .short-info-wrap {
	width: 100%;
}

.header .ttm-topbar-wrapper .ttm-topbar-content {
	background-color: rgba(240, 230, 140, 0.864);
	padding-bottom: 10px;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .top-contact,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .header-btn {
	height: 20px;
	padding: 10px 0;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left .top-contact li,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .top-contact,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper li,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .header-btn,
.ttm-header-wrap .site-branding,
.ttm-header-wrap .site-navigation,
.ttm-header-wrap .site-navigation .dropdown .main,
.hero .text-wrapper .wrap .box .checker i,
.hero .text-wrapper .wrap .box .checker p {
	float: left;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .top-contact li,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .top-contact,
.site-main .featured-icon-box img,
.site-main .history-section .ttm-history-box-wrapper a,
.site-main .history-section .short-info a {
	display: block;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left .top-contact li,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .top-contact li,
.ttm-header-wrap .site-navigation .ttm-header-icon button,
.site-main .aboutus-section .ttm-list li,
.site-main .history-section .ttm-history-box-wrapper .ttm-historybox-title {
	font-size: .8em;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left .top-contact li {
	margin-right: 30px;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left .top-contact li i {
	font-size: 1.2em;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-left .top-contact li i {
	margin-right: 10px;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper .social-icons,
.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .header-btn a,
.ttm-header-wrap .site-navigation .ttm-header-icon button {
	float: right;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper .social-icons {
	padding-right: 10px;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .ttm-social-links-wrapper .social-icons li {
	margin-right: 7px;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .header-btn a,
.site-main .featured-content .featured-desc,
.site-main .history-section .ttm-history-box-wrapper .ttm-historybox-description,
.site-main .history-section .ttm-history-box-wrapper a {
	font-size: .7em;
}

.header .ttm-topbar-wrapper .ttm-topbar-content .topbar-right .header-btn a {
	padding: 8px 20px;
	background-color: red;
	transform: translateY(-3px);
}

.ttm-header-wrap,
.site-main .aboutus-section .ttm-list li {
	margin-top: 10px;
}

.ttm-header-wrap {
	background-color: khaki;
}

.ttm-header-wrap .site-navigation .dropdown .main ul {
	display: none;
}

.ttm-header-wrap .site-branding img {
	width: 40px;
}

.ttm-header-wrap .site-navigation {
	padding-left: 150px;
}

.ttm-header-wrap .site-navigation .dropdown .main a {
	padding: 15px 30px;
	background-color: wheat;
}

.ttm-header-wrap .site-navigation .ttm-header-icon button {
	padding: 12px 15px;
	transform: translateY(-15px);
}

.hero,
.site-main .aboutus-section .ttm_single_image-wrapper img {
	height: 500px;
}

.hero,
.site-main .aboutus-section .ttm_single_image-wrapper img,
.site-main .aboutus-section .about-overlay-01{
  overflow: hidden;
}

.hero,
.hero .text-wrapper .wrap,
.site-main .aboutus-section .position-relative,
.site-main .aboutus-section .about-overlay-01 .info-wrap,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon{
	position: relative;
}

.hero .screen,
.hero .text-wrapper .wrap .box,
.site-main .aboutus-section .about-overlay-01,
.site-main .aboutus-section .about-overlay-01 .info-wrap .effect-div,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon img {
	position: absolute;
}

.hero .screen,
.site-main .aboutus-section .about-overlay-01 .info-wrap .effect-div {
	top: 0;
	left: 0;
}

.hero .screen {
	height: 100vh;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.857);
}

.hero .text-wrapper .wrap .box {
	right: 0;
	top: 170px;
	font-size: 3em;
	width: 450px;
}

.hero .text-wrapper .wrap .box,
.site-main .aboutus-section .about-overlay-01 .info-wrap .effect-div{
  z-index: 99;
}

.hero .text-wrapper .wrap .box h2 {
	font-size: .8;
	color: rgb(194, 185, 185);
	font-weight: 900;
	text-transform: uppercase;
}

.hero .text-wrapper .wrap .box h2:nth-of-type(2),
.site-main .aboutus-section .section-title .title-header {
	margin-bottom: 40px;
}

.hero .text-wrapper .wrap .box i,
.hero .text-wrapper .wrap .box p,
.hero .text-wrapper .wrap .box a {
	font-size: .3em;
}

.hero .text-wrapper .wrap .box i {
	color: green;
}

.hero .text-wrapper .wrap .box p {
	color: #fff;
}

.hero .text-wrapper .wrap .box h4 p {
	font-size: .6em;
}

.hero .text-wrapper .wrap .box h4 span {
	margin-left: 20px;
}

.hero .text-wrapper .wrap .box a {
	padding: 8px 40px;
	background-color: red;
}

.site-main,
footer {
	margin-top: 100px;
}

.site-main .featured-icon-box img,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon {
	width: 150px;
}

.site-main .featured-icon-box img,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon img {
	margin: 0 auto;
}

.site-main .featured-content,
.site-main .aboutus-section .about-text-box {
	margin-top: 30px;
}

.site-main .featured-content,
.site-main .aboutus-section .section-title .title-header,
.site-main .history-section .ttm-history-box-wrapper .ttm-historybox-title,
.site-main .history-section .ttm-history-box-wrapper .ttm-historybox-description,
.site-main .history-section .ttm-history-box-wrapper a,
.site-main .history-section .short-info p,
.site-main .history-section .short-info a {
	text-align: center;
}

.site-main .featured-content .featured-title,
.site-main .aboutus-section .about-overlay-01 {
	font-size: .9em;
}

.site-main .featured-content .featured-desc {
	letter-spacing: 1px;
}

.site-main .aboutus-section,
.site-main .history-section,
.site-main .zero-padding-section,
.site-main .team-section,
.site-main .first-row-title-section,
.site-main .process-section,
.site-main .bottomzero-padding-section,
.site-main .blog-section {
	margin-top: 150px;
}

.site-main .aboutus-section .ttm-list li i,
.site-main .history-section .short-info a {
	font-size: .5em;
}

.site-main .aboutus-section .ttm-list li i {
	vertical-align: middle;
}

.site-main .aboutus-section .ttm_single_image-wrapper img {
	background-color: ivory;
}

.site-main .aboutus-section .section-title .title-header h5,
.site-main .history-section .ttm-history-box-wrapper .ttm-icon,
.site-main .zero-padding-section .section-title h5,
.site-main .zero-padding-section .section-title h2,
.site-main .team-section h5,
.site-main .team-section h2,
.site-main .process-section h5,
.site-main .process-section h2,
.site-main .bottomzero-padding-section h5,
.site-main .bottomzero-padding-section h2,
.site-main .blog-section h5,
.site-main .blog-section h2  {
	margin-bottom: 20px;
}

.site-main .aboutus-section .about-overlay-01 {
	bottom: 20px;
	right: 20px;
	height: 40px;
	background-color: #000;
	padding: 0 20px;
	box-sizing: border-box;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px #000;
}

.site-main .aboutus-section .about-overlay-01 .info-wrap p {
	line-height: 40px;
}

.site-main .aboutus-section .about-overlay-01 .info-wrap .effect-div {
	height: 50px;
	width: 30px;
	transform: translate(-100px);
	transition: transform 1s ease;
	background-color: rgba(255, 255, 255, 0.268);
}

.site-main .aboutus-section .about-overlay-01:hover .info-wrap .effect-div {
	transform: translate(500px);
}

.site-main .history-section .section-title .title-header h5 {
	margin-bottom: 25px;
}

.site-main .history-section .section-title .title-header h2 {
	margin-bottom: 60px;
}

.site-main .history-section .ttm-history-box-wrapper .ttm-icon {
	border: 1.5px solid #000;
	height: 150px;
	border-radius: 100%;
}

.site-main .history-section .ttm-history-box-wrapper .ttm-icon img {
	line-height: 150px;
	width: 70px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.site-main .history-section .ttm-history-box-wrapper a {
	margin-top: 20px;
}

.site-main .history-section .short-info p {
  font-size: 1.5em;
}

.site-main .history-section .short-info a {
	padding: 10px 20px;
	border-radius: 20px;
	width: 200px;
  margin: 10px auto 0;
	background-color: khaki;
}

.site-main .history-section .short-info-wrap{
  margin-top: 60px;
  padding: 20px 0 30px;
  background-color: green;
}

.site-main .team-section .featured-imagebox img{
  width: 100%;
}

.site-main .team-section .featured-imagebox{
  position: relative;
  border: 2px solid #000;
}

.site-main .team-section .featured-imagebox ul{
  position: absolute;
  top: 50px;
  left: 10px;
}

.site-main .team-section .featured-imagebox ul li a {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #000;
  border-radius: 100%;
  margin-top: 10px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  text-align: center;
  font-size: .8em;
}

.site-main .team-section .featured-imagebox{
  margin-top: 40px;
}

.site-main .team-section .featured-imagebox h5{
  margin-bottom: 5px;
}

.site-main .first-row-title-section{
  padding: 30px;
  background-color: red;
}

.site-main .first-row-title-section .ttm-play-icon-animation a{
  display: block;
  width: 90px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto 20px;
  border-radius: 20px;
  background-color: #000;
}

.site-main .bottomzero-padding-section{
  padding: 40px 0;
  background-color: aqua;
}

footer{
  background-color: blue;
}


@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
